{% extends "layout.html" %}
{% block title %}Prices - Latest{% endblock %}
{% block content %}
<h1>Latest Prices</h1>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Symbol</th>
            <th scope="col">Date/Time</th>
            <th scope="col">Value</th>
            <th scope="col">Currency</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for row in model.prices %}
        <tr>
            <td>
                {{ row.symbol }}
            </td>
            <td>
                {{ row.datum }}
            </td>
            <td class="text-right">
                {{ row.value }}
            </td>
            <td>
                {{ row.currency }}
            </td>
            <td>
                <a href="/price/downloadfor/{{row.symbol}}">download</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
{% block scripts %}
<script type="text/javascript">
    $(function () {
        $(".table").DataTable();
    });
</script> 
{% endblock %}